Repository comworkio/cmd-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cmd-api-x86, cmd-api-arm

.gitlab-ci.yml:

stages:
  - mirror
  - publish

github-mirror:
  stage: mirror
  script:
    - setsid ./ci/github-mirror.sh
  only:
    - /^(master.*)$/
  tags:
    - cmd-api

cmd-api-x86:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "cmd-api" "2.2" "x86"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - api.py
      - Dockerfile
      - docker-compose-build-x86.yml
      - ci/docker-deliver.sh
  tags:
    - cmd-api

cmd-api-arm:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "cmd-api" "2.2" "arm"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - api.py
      - Dockerfile.arm
      - docker-compose-build-arm.yml
      - ci/docker-deliver.sh
  tags:
    - buildarm

Improve documentation
  .gitlab-ci.yml
Due: none

Improve documentation
  README.md
Due: none

Fix CI
  ci/docker-deliver.sh
Due: cmd-api-x86, cmd-api-arm

Protect agains malicious injections
  .gitlab-ci.yml
  README.md
  api.py
Due: cmd-api-x86, cmd-api-arm

Protect against injections
  docker-compose-build-x86.yml
Due: cmd-api-x86

Fix: syntax error
  .gitlab-ci.yml
  api.py
Due: cmd-api-x86, cmd-api-arm

Fix: syntax error
  api.py
Due: cmd-api-x86, cmd-api-arm

Improve example with regexp_argv
  docker-compose.yml
Due: none

Improvement: when API_CMD is undefined
  .gitlab-ci.yml
  api.py
  docker-compose.yml
Due: cmd-api-x86, cmd-api-arm

Improvement: when API_CMD is undefined
  docker-compose.yml
Due: none

Add a requirements.txt file
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  requirements.txt
Due: cmd-api-x86, cmd-api-arm

Fix: bad dockerfile
  docker-compose-build-x86.yml
Due: cmd-api-x86

Add internal mirror
  .gitlab-ci.yml
  ci/github-internal-mirror.sh
Due: none

Improve internal mirror
  ci/github-internal-mirror.sh
Due: none

Improve error body
  .gitlab-ci.yml
  api.py
Due: cmd-api-x86, cmd-api-arm

Fix: remove some useless files in the internal mirror
  ci/github-internal-mirror.sh
Due: none

Add new mirror
  .gitlab-ci.yml
  README.md
  ci/mirror.sh
Due: none

Rename gitlab step
  .gitlab-ci.yml
Due: none

Adding more security against shell injection
  .gitlab-ci.yml
  api.py
Due: cmd-api-x86, cmd-api-arm

Fix: error code position
  .gitlab-ci.yml
  api.py
Due: cmd-api-x86, cmd-api-arm

Improve is_not_empty function
  .gitlab-ci.yml
  api.py
Due: cmd-api-x86, cmd-api-arm

Improve mirror
  .gitlab-ci.yml
  ci/github-internal-mirror.sh
  ci/mirror.sh
Due: none

Issue #flask-restful/flask-restful/pull/913: workarround
  .gitlab-ci.yml
  api.py
Due: cmd-api-x86, cmd-api-arm

Update docker-deliver.sh in order to use an environment variable for docker login instead
  ci/docker-deliver.sh
Due: cmd-api-x86, cmd-api-arm

Use the right base
  .gitlab-ci.yml
  Dockerfile.arm
Due: cmd-api-arm

Add mirrors
  README.md
  ci/mirror.sh
Due: none

Add froggit mirror
  README.md
  ci/mirror.sh
Due: none

Fix is_not_empty bug using integers
  .gitlab-ci.yml
  api.py
Due: cmd-api-x86, cmd-api-arm

Remove some mirrors and add dockerignore
  .dockerignore
  .gitlab-ci.yml
  ci/mirror.sh
Due: none
